﻿@model IEnumerable<AvisFormation.DATA.Formation>

@{
    ViewBag.Title = "Index";
}

<h2>Toutes les formations</h2>
<div class="row">
    @foreach (var formation in Model)
    {
    <div class="col-md-4 col-border-formation">
        <h4 style="color : dodgerblue;">@formation.Nom</h4>
        <a class="btn btn-outline-primary" href="/avis/create/@formation.Id">Ajouter un avis</a>
     
        @if (formation.Avis.Count > 0)
        {
            var note = @formation.Avis.Sum(a => a.Note) / @formation.Avis.Count;
            <p>

                @for (int i = 0; i < Math.Ceiling(note); i++)
                {
                    <span class="glyphicon glyphicon-star" style="color:orange"></span>
                }
                @Html.Raw(note) / 5
            </p>

        }
        else
        {
            <p>Aucun avis</p>
        }

        <p>
            @formation.Description

        </p>

    </div>
    }
</div>
@section Scripts
{
    <link href="~/Content/FormationStyle.css" rel="stylesheet" />
}