﻿.col-border {
    border-right-style: solid;
    border-right-color: whitesmoke;
    padding: 20px;
    margin: 0px 10px;
}

.col-border-formation {
    height: 200px;
    width: 300px;
    border: orange solid 2px;
    border-radius: 11px;
    padding: 8px;

    text-align: center;
    background-color: white;
    margin:3px;
}

.add-avis
{
    max-width:none;
}

