﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: black;
    color: orange;
}
select .select-lang {
    background: transparent;
    color: white;
    margin-top: 16px;
    border: none;
    padding: 0;
}