﻿@model AvisFormation.DATA.Avis
@{
    ViewBag.Title = "Create";
}
        <h2 >Laissez un avis sur @ViewBag.Nom</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form>
        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <input readonly class="form-control hidden" name="IdFormation" value="@ViewBag.IdFormation" />
               
            </div>
            <div class="form-group row ">
                <label class="control-label " for="Description">Commentaire :</label>
                <textarea class="form-control add-avis" style="min-height:100px"
                          cols="20"
                          id="Description"
                          name="Description"
                          rows="2"></textarea>
                
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

            </div>

            <div class="form-group row">
                <label class="control-label " for="Note">Note :</label>
                <select class="form-control add-avis" id="Note" name="Note">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

            </div>


            <div class="form-group row">

                <input type="submit" value="Ok" class="btn btn-warning" />

            </div>
        </div>
    </form>
}
@section Scripts
{
    <link href="~/Content/FormationStyle.css" rel="stylesheet" />
}


