﻿<li>
    <a href="@Url.Action("SetLanguage", "Language", new { @name = "fr" })" style="padding-left:0; padding-right:5px;"><img runat="server" src="@Url.Content("~/Content/Images/flag_fr.png")" style="width:15px; height:15px;" /></a>
</li>
<li> <a href="@Url.Action("SetLanguage", "Language", new { @name = "en" })" style="padding-left:0; padding-right:0;"><img runat="server" src="@Url.Content("~/Content/Images/flag_en.png")" style="width:15px; height:15px;" /></a></li>




